@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Nanum+Pen+Script&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Nanum Pen Script', cursive;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Heebo', sans-serif;
}
:root{
    --background-accent-color:#0c0c0e;
    --background-secondary-color:#100f14;
    --background-tertiary-color:#cee1f2;    
    --accent-color: #ff49c1;
    --secondary-color:#bdfb40;
    --header: 80px;
    --footer: 100vh;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 100vw; 
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--header);
    background: linear-gradient(180deg, var(--background-accent-color) 80.33%, rgba(8, 8, 8, 0) 100%);
    position: fixed;
    z-index: 999;
}
.bone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: auto;
}
.logoV{
    width: 200px;
    height: auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.nav-item{
    padding: 10px;
    color: var(--secondary-color);
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    color: white;
    background-color: var(--background-accent-color);
}
.main-content{
    display: flex;
    width: 100%;
    height: 250vh;
}
.sticky-content{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    /* background: url(/resources/background.png) repeat; */
    position: sticky;
    top: 0px;
    overflow: hidden;
}

.scroll-background{
    position: absolute;
    top: -100vh;
    left: 0px;
    width: 100%;
    height: 200%;
    z-index: 0;
    background:repeat url(./resources/background.png);
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.intro-header{
    display: inline;
    font-size: 48px;
    text-align: left;
    text-transform: uppercase;

    color: var(--secondary-color);
    text-shadow: 0px -1px 5px var(--secondary-color);
}
.text-contain > .intro-text{
    font-size: 18px;
    color: white;
    text-align: left;
    
}
.text-contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 100px;
    z-index: 1;
    width: 50%;
    height: 50%;
    padding: 60px;  
    opacity: 0;
    transform: translate(100vh,0px);
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
}
.text-contain-active{
    opacity: 1;
    transform: translate(0px,0px);
}
.header-up-text{
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--secondary-color);
    position: relative;
    width: 100%;
    top: 15vh;
    transform: translate3d(0px,150vh,0px);
    transition: all 3.2s cubic-bezier(0.19, 1, 0.22, 1);
}
.scroll-block{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 200vh;

    /* background-color: var(--background-accent-color); */
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100vh;
}
.ticker{
    display: flex;
    position: absolute;
    transform: rotate(calc(var(--R) * 1deg));
    top: calc(var(--T) * 1vh);
    z-index: 1;
    left: -400px;
    height: 120px;
    width: calc(100% + 500px);
    
}
.ticker > div{ 
    height: 120px;
    width: 100%;
    position: relative;
    z-index: 1;
    box-shadow: 10px -10px 40px black;
    animation: animate 10s linear infinite;
    background: linear-gradient(63deg, rgba(189,251,64,1) 0%, rgba(189,251,64,1) 10%, rgba(12,12,14,1) 10%, rgba(12,12,14,1) 20%, rgba(189,251,64,1) 20%, rgba(189,251,64,1) 30%, rgba(12,12,14,1) 30%, rgba(12,12,14,1) 40%, rgba(189,251,64,1) 40%, rgba(189,251,64,1) 50%, rgba(12,12,14,1) 50%, rgba(12,12,14,1) 60%, rgba(189,251,64,1) 60%, rgba(189,251,64,1) 70%, rgba(12,12,14,1) 70%, rgba(12,12,14,1) 80%, rgba(189,251,64,1) 80%, rgba(189,251,64,1) 90%, rgba(12,12,14,1) 90%, rgba(12,12,14,1) 100%);
}
.card-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 45px;
    /* background-color: var(--accent-color); */
    padding: 60px;
    position: relative;
    overflow: hidden;
    transform: translate(0px, 200px) scale(0.9);
    opacity: 0;
    
    transition: all 1.4s ease;
}
.card-section-active{
    transform: translate(0px,0px) scale(1);
    justify-content: space-evenly;
    opacity: 1;
    background-color: var(--accent-color);
    border-radius: 0px;
    height: 100%;
}
.card-section > h2{
    font-size: 4rem;
    position: relative;
}
.card-section > p{
    font-size: 250%;
    font-weight: 900;
    text-align: center;
    position: relative;
    z-index: 2;
}

.roadmap{
    width: 100%;
    height: 620vh;
    background-color: var(--secondary-color);
}
.header-roadmap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-roadmap > .intro-header {
    color: var(--background-secondary-color);
}
.slider{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: calc( 200vh + 200vw);
    /* background-color: var(--secondary-color); */
    background: url(/resources/);
    transform-origin: left;
    position: absolute;
    left: 0px;
    z-index: 5;
    transform: translate(0px,0px);
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);    

}
.text-content-head{
    color: var(--background-secondary-color);
}
.slider-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.slider :nth-child(1){
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 5rem;
    font-weight: 900;
}
.slider :nth-child(n+2){
    border-left: 1px dashed var(--background-accent-color);
    border-width: 4px;
}
.slider :nth-child(n+2) img{
    height: 30%;
    width: auto;
    margin: 0px;
    border: none;
}
.slider :nth-child(n+2) p{
    margin: 0px;
    padding: 30px;
    height: 50%;
    display: flex;
    align-items: center;
    font-size: 1rem;
}
.slider :nth-child(n+2) span{
    border: none;
}


footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--footer);
    /*  height: 100vh; */

    background-color: var(--background-accent-color);
}

footer h1{
    font-size: 4rem;
    color: var(--secondary-color);

}
::-webkit-scrollbar{
    background-color: var(--secondary-color);
    width: 7px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--accent-color);
    border: 1px solid var(--secondary-color);
    border-radius: 45px;
}

@keyframes animate{
    0%{
        transform: translateX(-40%);
    }
    100%{
        transform: translateX(0%);
    }
}